
div.h0{
  display: flex;
    flex-direction: column;
    height: 100%;
    align-content: center;
  }

 div.h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
    padding-top:5%;
  }

  div.h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:"HG教科書体";
  }
  .n1{
    font-size: 50px;
    font-family:"HG教科書体";
  }
  body{
    background-image : url("sky.jpg");
  }
  .n1{
    font: size 80px;
    color: azure;
    text-shadow: 1px 2px 3px #808080;
  }
  .kensaku{
    cursor :pointer;
  }
/*
  .hidden_box .hidden_show{
    opacity: 0;
    transition: 0.8s;
  }

  .hidden_box input:checked ~ .hidden_show {
    height: auto;
    opacity: 1;
    height: auto;
}
.hidden_box input {
  display: none;
}
*/
body.body{
  font-family:"HG教科書体";
}
h2{
  margin-top: 0;
}

div.box{
  border: aqua;
  border-radius: 10px 100px / 120px;
  padding: 40px;
  width: 450px;
  height: 250px;
  /*background-color: rgba(85, 168, 206, 0.768);*/
  margin: 0 auto;
  transition: 0.8s;
}

.K1{
  transition: 2s;
}
/*
.hidden_box {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
    padding: 0;
}


.hidden_box label {
  padding: 0px;
  font-weight: bold;
  cursor :pointer;
}


.hidden_box label:hover {
  background: #efefef;
}


.hidden_box input {
  display: none;
}


.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}


.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}
*/
.hidden_box {
  opacity: 0;
  color: rgba(0, 0, 0, 0);
}
